.table{
    margin-top:20px;
    height: 400px;
    overflow: scroll;
    color: #6a5d5d;
}

.table tr:nth-of-type(odd){
   background-color: #f3f2f8;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
    border: none;
  }

  .list_flag{
    width: 40px;
    height: 30px;
    background-size: cover;
    float: left;
    margin-right: 5px;
    margin-left: -10px;
  }
